.myBG {
  width: 100%;
  height: 100vh;
  margin-top: -4em;
  color: white;

  /* background: url("../../public/assets/images/gamebg.jpg");
  background-size: cover; */
}

/* react player as same as video tag */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 800;
  line-height: 1;
  text-shadow: 2.5px 2.5px black;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
}
